@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * GENERAL
 */

img {max-width:100;}

body {
    transition: opacity .25s ease;
}

.timeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.timetwo {
    display: block;
    width: auto;
    margin-left: 250px;
    margin-right: 250px;
    background: #4183c4;
    border-radius: 15px;
}

p {
    color: white;
    font-size: 16px;

}
h2 {
    color: white;
}
.textbox {

    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 65.375em) {

    .timeline > li .time span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .timeline:before {
        display: none;
    }

    .timeline > li .time {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .timeline > li .time span {
        text-align: left;
    }

    .timeline > li .label {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .timeline > li .label:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #3594cb;
        top: -20px;
    }


    .timeline > li .icon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }
}

.timeline > li .time span {
    display: block;
    text-align: right;
}

.timeline > li .time span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}

.timeline > li .time span:last-child {
    font-size: 2.9em;
    color: #3594cb;
}

.timeline > li:nth-child(odd) .time span:last-child {
    color: #6cbfee;
}

.timeline > li .label {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 2em;
    width: 60%;
}

/* Top-left box color */
.timeline > li:nth-child(odd) .label {
    background: #6cbfee;
}

.timeline > li .label h2 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.timeline > li .label:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}

/* Top-left triangle */
.timeline > li:nth-child(odd) .label:after {
    border-right-color: #6cbfee;
}


.timeline > li .icon {
    width: 40px;
    height: 40px;
  border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
    position: absolute;
    color: #fff;
    background: #46a4da;

}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}

.timeline > li {
    position: relative;
}

.timeline > li .time {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}
